<form novalidate (ngSubmit)="login()">
  <input type="text"
         name="username"
         [(ngModel)]="username"
         class="form-control" id="identifiant" placeholder="Identifiant">

  <input type="password"
         name="password"
         [(ngModel)]="password"
         class="form-control" id="password" placeholder="Mot de passe">

  <div class="form-group" *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="rowformat  floatright">
    <input type="submit" name="se connecter">
  </div>


</form>

<div class="rowformat" *ngIf="errorMsg$ | async as errorMsg">
  <div class="alert alert-warning" role="alert">
    <strong>Attention</strong>&nbsp;{{errorMsg}}
  </div>
</div>

<ng-container *ngIf="user$ | async as user">
  <pre>{{user | json}}</pre>
</ng-container>



