<mat-toolbar>
  <button  mat-icon-button (click)="openMenu(isOpenSidenav)">
    <mat-icon *ngIf="!isOpenSidenav" >menu</mat-icon>
    <mat-icon *ngIf="isOpenSidenav" >close</mat-icon>
  </button>
  <span>{{title}}</span>

  <span class="fill-remaining-space"></span>
  <ng-container *ngIf="user$ | async as user">
    <label class="user-welcome">{{user.prenom}}&nbsp;{{user.nom}}</label>
  </ng-container>
  <ng-container *ngIf="isLoggedIn$ | async">
    <button type="button" class="btn btn-secondary" title="Déconnexion" (click)="logout()"><i
      class="fa fa-sign-out"></i></button>
  </ng-container>
</mat-toolbar>

<app-loading></app-loading>



<mat-sidenav-container (backdropClick)="customBackdropClickHandler()">
  <mat-sidenav class="sidenav"  #sidenav mode="over" >
    <ng-container *ngIf="isUser$ | async">
      <div>
        <a  class="menu-button" routerLink="/monbureau" >Mon bureau</a>
      </div>
    </ng-container>
    <ng-container *ngIf="isAdmin$ | async">

      <div>
      <a class="menu-button"  routerLink="/administration/gestion-utilisateurs">Gestion des utilisateurs</a>
      </div>
    </ng-container>
  </mat-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<!--<div class="content">-->

<!--</div>-->


